<% include ./partial/header %>
<body style="
background-image: url('https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
background-repeat: no-repeat;
background-size: cover;
">
</body>
<div
  class="container"
  style=" position: relative;
  width: 40%;
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 20px 0 0 0;
  margin: 100px auto;
  padding-bottom: 20px;

"
>

    
    
      <form action="/faculty/<%=faculty._id%>?_method=PUT" method="POST" style="margin-top: 20px;">
        <div class="row">
          <div class="col">
              <h1 style="text-align:center;">Edit Profile <%=faculty.name%></h1>
              <div class=" form-group form-inline">
                  <label for="name" style="width: 200px;
                  display: inline-block;
                  padding-right: 20px;
                  text-align: right;
                  ">Name:</label>
                  <input
                    class="form-control"
                    type="text"
                    id="name"
                    value="<%= faculty.name%>"
                    name="faculty[name]"
                  />
                </div>
                <div class=" form-group form-inline">
                    <label for="username" style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    padding-right: 20px;
                    ">Username:</label>
                  <input
                    class="form-control"
                    type="text"
                    id="username"
                    value="<%= faculty.username%>"
                    name="faculty[username]"
                  />
                </div>
                <div class=" form-group form-inline">
                    <label for="department" style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    padding-right: 20px;
                    ">Department:</label>
                  <input
                    class="form-control"
                    type="text"
                    id="department"
                    value="<%= faculty.department%>"
                    name="faculty[department]"
                  />
                </div>
                <!--
                <div class=" form-group form-inline">
                    <label for="hostel" style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    ">Hostel</label>
                  <input
                    class="form-control"
                    type="text"
                    id="hostel"
                    value="<%= faculty.hostel%>"
                    name="faculty[hostel]"
                  />
                </div>-->
                <!-- <div class=" form-group form-inline">
                    <label for="url" style="width: 200px;
                    display: inline-block;
                    text-align: right;
                    padding-right: 20px;
                    ">Image-URL</label>
                  <input
                    class="form-control"
                    type="text"
                    id="url"
                    value="<%= faculty.image%>"
                    name="faculty[image]"
                  /> -->
                <!-- </div> -->
                <div class="form-group">
                  <button class="btn btn-lg btn-default btn-block" style="color: white; background-color: #4caf50;">Submit</button>
                </div>
          </div>
        </div>
        
      </form>
      <a style="padding: 50px;" href="/faculty/<%= faculty.id%>">Back</a>
    </div>
  </div>
</div>

<% include ./partial/footer %>
